/* Global style start */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: 'Rubik', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    margin-bottom: 500px;
}

.container{
    margin-left: 20%;
    margin-right: 20%;
}
.main-title{
    font-size: 3em;
}
.description{
    font-size: 1.2em;
    margin-bottom: 1.5em;
    line-height: 2em;
}
.btn{
    font-size: 1.2em;
    padding: 1em 3em;
    border-radius: 50px;
    border: none;
    background-color:#f05510 ;
    color: white;
}
/* Global style end */


/* header section start */
.main-banner-section{
    background-image: url(images/1525.jpg);
    width: 100%;
    height: 90vh;
    background-position: center;
}
.banner-description{
    position: relative;
    top: 10%;
    left: 55%;
    width: 32em;
    height: 30em;
    padding: 2%;
    box-shadow: 2px 2px 15px 3px rgb(45, 47, 48);
}
.banner-description .btn:hover{
    background-color: black;
}
.banner-description .btn a{
    text-decoration: none;
    color: white;

}

/* header section end */

/* build-products-section-start */
.build-products-section{
    background-color: #f05510;
    width: 100%;
    height: 50vh;
    text-align: center;
    padding: 6em 2em;
    color: white; 
}
.build-products-images img{
    width: 350px;
    height: 350px;
}
.build-products-images{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
}
/* build-products-section-end */


/* media section start */
/* media simple device start */
@media screen and (max-width: 576px) {
    .main-banner-section{
        background-position: left;
        background-size: cover;
    }
    .banner-description{
        top: 10%;
        left: 2%;
        right: 2%;
        width: 20em;
        height: 30em;
        margin: 0 auto;
    }
    .banner-description h2{
        font-size: 2em;
        margin-bottom: 1em;
        color: white;
    }
    .banner-description p{
        color: white;
    }
    .banner-description .btn{
        position: relative;
        left: 10%;
    }
    .build-products-images{
        position: relative;
        left: %;
        right: 10%;
        
    }
}
/* media simple device end */





/* media midle device start */
@media screen and (min-width: 577px) and (max-width: 920px) {
    .main-banner-section{
        width: 100%;
        background-position: left;
        background-size: cover;
    }
    .banner-description{
        top: 10%;
        left: 10%;
        right: 10%;
        width: 30em;
        height: 30em;
        margin: 0 auto;
    }
    .banner-description h2{
        font-size: 2.5em;
        margin-bottom: 1em;
    }
    .banner-description .btn{
        position: relative;
        left: 10%;
    }
}


/* media midle device end */






/* media section end */